<div class="side-panel">
  <ul class="nav nav-tabs nav-justified m-0">
    <li class="active">
      <a href="#tab-side-1" data-toggle="tab"><i class="zmdi zmdi-comment-text"></i></a>
    </li>
    <li>
      <a href="#tab-side-2" data-toggle="tab"><i class="zmdi zmdi-settings"></i></a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade in active" id="tab-side-1">
      <div class="side-title">Activities</div>
      

    </div>
    <div class="tab-pane fade" id="tab-side-2">

    </div>
  </div>
</div>